.header{
	font-size: 20px;
	line-height: 1.5;
	margin:60px auto;
}
	a:hover,
	a:focus,
	a:active {
	text-decoration: none;
	}
	button:focus,
	input:focus,
	a:focus,
	textarea:focus {
	outline: none;
	}
	h1,h2,h3,h4,h5,h6,p{
	margin:0;
	}
.header span{
	display: block;
}
.section{
	padding: 30px 0;
}

.form{
	border: 5px solid #2727d9;
	padding: 30px 20px;
}

.form-header, .section-header, .section-clients{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form input{
	margin-bottom: 12px;
	border-radius: 0px;
}

.form-btn{
	background-color: #2727d9;
	margin: 10px auto;
	border-radius: 0px;
}

.feature{
	margin: 60px auto;
}

.feature p{
	margin-top: 20px;
}

.video{
	margin-bottom: 30px;
}

.feature-box{
	height: 160px;
}

.my_img img{
	margin-top: 25px;
}