body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}
.image-one {
	background: url(../img/1.jpg) center no-repeat;
	background-size: cover;
	z-index 0;
}
.image-two {
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
}
.image-three {
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
}
.image-four {
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
}

.button-one{
	outline: none;
	border: none;
	font-weight: 700;
	font-size: 14px;
 color: white;
 padding: .8em 1em calc(.8em + 3px);
 border-radius: 3px;
 background: rgb(64,199,129);
 
 transition: 0.2s;
}
.button-one:active{
	 background: #ADFF2F;
	  transition: 0.4s;
}
.button-one:hover{
	box-shadow: 0px 0px 0px 2px #008000,
	0px 0px 0px 7px #3CB371,
	0px 0px 0px 9px #556B2F,
	0px 0px 5px 10px #556B2F;	 color: #2F4F4F;
border-radius:10px;

}
.button-two {
	margin-left: 200px;
	outline: none;
	display: inline-block;
 color: white;
 padding: .5em 2em;
 border: none;
 border-width: 2px 0;
 border-style: solid none;
 border-color: #FDBE33 #000 #D77206;
 border-radius: 6px;
 background: linear-gradient(#F3AE0F, #E38916) #E38916;
 transition: 0.4s;
}

.button-two:hover{
	border-bottom: 5px solid orange;
}

.button-two:active{
 transition: 0.4s;
 color: #FF00FF;
}

.image::before {
    content: '';
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    transition: 0.3s;
}
.image:hover:before {
    opacity: 0.5;
}
