*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
.section{
	min-height: 100vh;
	text-align: center;
	width: 100%;
	display: table;
	//background: url("video/The-Launch.jpg") no-repeat center;
	//background-size: cover;
}

.wrap-block{
	display: table-cell;
	vertical-align: middle;
	color: white;
}