/**{
	border: 1px solid black;
}*/
.boot-hei{
	min-height: 200px;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

.boot-hei img{
	min-height: 150px;
}

.boot-hei p{
	margin-top: 20px;
}

.big-text p{
	text-transform: uppercase;
	font-size: 36px;
}

.icons{
	margin-top: 40px;
}