@import url('https://fonts.googleapis.com/css?family=Roboto');
p {
  margin: 0;
}
body {
  background: #fff8e6;
  font-family: Roboto;
}
.my-foto img {
  width: 100%;
  margin-top: 2rem;
}
.my-foto .surname {
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 0.3rem solid #0e7a86;
}
.my-foto .namePatronymic {
  font-size: 2rem;
}
.my-foto .personal-data {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-top: 2rem;
  font-weight: 900;
}
.my-foto .personal-contacts {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.save_work {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.myborder {
  border-left: 0.3rem solid #84c5eb;
}
.myborder .title {
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  vertical-align: middle;
}
.myborder li {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-left: -2rem;
}
.call {
  color: black;
}
.dis {
  vertical-align: middle;
  margin-left: 1rem;
  width: 35px;
}
.vk:hover {
  opacity: 0.7;
}
.version {
  background: #84c5eb;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.version a {
  text-decoration: none;
  font-size: 20px;
  display: block;
}
.img_work {
  overflow: hidden;
}
.img_work img {
  width: 100%;
}
@media (max-width: 991px) {
  .myborder {
    border-left: none;
  }
}
.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}
.section-title h2:before {
  position: absolute;
  background: #575757;
  height: 2px;
  width: 45px;
  content: "";
  bottom: 0;
}
.portfolio-menu button.mixitup-control-active {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #4bcaff;
  color: #4bcaff;
  padding: 10px 15px;
  font-weight: 700;
  transition: .4s;
  text-transform: uppercase;
}
.portfolio-menu button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid transparent;
  color: #515f67;
  padding: 10px 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.single-portfolio a {
  display: block;
  line-height: 0;
  position: relative;
}
.single-portfolio a::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5);
  transition: all 0.3s ease 0s;
  width: 100%;
}
.single-portfolio:hover a::before {
  opacity: .5;
  transform: scale(1);
}
.single-portfolio a::after {
  color: #fff;
  content: "+";
  font-size: 60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.single-portfolio:hover a::after {
  transform: scale(1);
}
